.mainWindow {
	-fx-background-color: #F6F4D2;
}

.textFieldTop {
	-fx-background-color: #14080E;
	-fx-font-size: 22px;
	-fx-text-fill: #F6F4D2;
	-fx-font-weight: 700;
}

.labelTop {
	-fx-background-color: #14080E;
	-fx-font-size: 18px;
	-fx-text-fill: #F6F4D2;
	-fx-font-weight: 700;
}

.statPanel {
	-fx-background-color: #75704E;
}

.statLabelLeft {
	-fx-background-color: #75704E;
	-fx-font-size: 14px;
	-fx-font-weight: 400;
	-fx-font-style: italic;
}

.statLabelRight {
	-fx-background-color: #75704E;
	-fx-font-size: 14px;
	-fx-font-weight: 700;

}

.chatTextArea .content {
	-fx-background-color: #75704E;
}

.chatTextField {
	-fx-background-color: #14080E;
	-fx-font-size: 16px;
	-fx-text-fill: #F6F4D2;
	-fx-font-weight: 400;
}

.chatButton {
	-fx-background-color: #14080E;
	-fx-text-fill: #F6F4D2;
	-fx-font-size: 14px;
}

.board {
    -fx-background-image:url('../../client/field/greenField.jpg');
}

